$font-header-stack: 'Cormorant SC', serif;
$font-stack: 'Geneva', sans-serif;
$palette-primary: #a14e2f;
$palette-secondary: #3f612d;
$palette-tertiary: #284b63;
$palette-light: #f7f1de;
$palette-dark: #272127;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $palette-light;
  color: $palette-dark;
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header-stack;
}

h2 {
  margin: 0.34em 0;
}

a {
  text-decoration: none;
}

.spells-container {
  display: flex;
  flex-wrap: wrap;
}

.spell-card {
  h3 {
    color: $palette-primary;
  }
}

.button {
  display: inline-block;
  padding: 0.34rem 1rem;
  background-color: transparent;
  border-radius: 0.167rem;
  text-align: center;
  transition: all 200ms;
}

.button:hover {
  color: $palette-light;
}

.button-more {
  border: 0.167rem solid $palette-tertiary;
  color: $palette-tertiary;
}

.button-more:hover {
  background-color: $palette-tertiary;
}

.button-danger {
  border: 0.167rem solid $palette-primary;
  color: $palette-primary;
}

.button-danger:hover {
  cursor: pointer;
  background-color: $palette-primary;
}

.delete-form {
  display: inline-block;
}

.form-group {
  display: block;
}

#navbar {
  background-color: $palette-primary;
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.25rem $palette-dark;

  ul {
    list-style: none;
    display: flex;
  }

  a {
    color: $palette-light;
    margin: 0 1rem;
  }
}

#navbar-brand-container {
  flex: initial;
}

#navbar-brand {
  font-family: $font-header-stack;
  font-size: 2rem;
  font-weight: 700;
}

#navbar-menu-container {
  flex: auto;
  display: flex;
  justify-content: space-between;

  a:hover {
    text-decoration: underline;
  }
}

#spells {
  width: 90%;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

#custom-spell {
  h1 {
    text-align: center;
  }
}

#custom-spell-form-container {
  width: 30%;
  margin: 0 auto;
}