$font-header-stack: 'Cormorant SC', serif;
$font-stack: 'Geneva', sans-serif;
$palette-primary: #a14e2f;
$palette-secondary: #3f612d;
$palette-tertiary: #284b63;
$palette-light: #f7f1de;
$palette-dark: #272127;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $palette-light;
  color: $palette-dark;
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header-stack;
}

h2 {
  margin: 0.34rem 0;
  padding-bottom: 0.34rem; 
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.error-message {
  color: $palette-primary;
  font-weight: 700;
  margin: 0.25rem 0;
  text-align: left;
}

.success-message {
  color: $palette-secondary;
  font-weight: 700;
  margin: 0.25rem 0;
  text-align: left;
}

.user-card {
  width: 33%;
  height: 66vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .user-card-buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .user-card-buttons-container a {
    margin: 0.5rem 0;
  }

  p {
    margin: 0.5rem 0;
  }

  p a:hover {
    text-decoration: underline;
  }

  .form-group:last-child {
    margin: 1rem 0;
  }
}

.spells-container {
  display: flex;
  flex-wrap: wrap;
}

.spell-card {
  flex-basis: calc(25% - 1rem);
  margin: 0.34rem 0.5rem;
  overflow: hidden;
}

.spell-card-name-container {
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: $palette-primary;
  color: $palette-light;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.spell-card-info-container {
  border-left: 0.125rem solid $palette-dark;
  border-right: 0.125rem solid $palette-dark;
  border-bottom: 0.125rem solid $palette-dark;
  padding: 0.5rem;

  p {
    margin: 0.34rem 0;
  }
}

.spell-card-actions-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0.5rem 0;
}

.button {
  display: inline-block;
  padding: 0.34rem 1rem;
  background-color: transparent;
  border-radius: 0.167rem;
  text-align: center;
  transition: all 200ms;

  &:hover {
    cursor: pointer;
    color: $palette-light;
  }
}

.button-confirm {
  border: none;
  border: 0.167rem solid $palette-secondary;
  background-color: $palette-secondary;
  color: $palette-light;
}

.button-more {
  border: 0.167rem solid $palette-tertiary;
  color: $palette-tertiary;

  &:hover {
    background-color: $palette-tertiary;
  }
}

.button-danger {
  border: 0.167rem solid $palette-primary;
  color: $palette-primary;

  &:hover {
    cursor: pointer;
    background-color: $palette-primary;
  }
}

.delete-form {
  display: inline-block;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.34rem;

  input,
  select {
    flex: 1 1;
    padding: 0.125rem 0.06rem;
  }

  .form-group-label {
    margin-right: 0.17rem;
  }

  .button-confirm,
  .button-more {
    flex: 1;
  }
}

.checkbox-group {
  margin-right: 0.17rem;
}

.form-group-textarea {
  display: block;
  margin-bottom: 0.34rem;

  textarea {
    width: 100%;
    padding: 0.25rem;
  }
}

#navbar {
  background-color: $palette-primary;
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.25rem $palette-dark;

  ul {
    list-style: none;
    display: flex;
  }

  a {
    color: $palette-light;
    margin: 0 1rem;
  }
}

#navbar-brand-container {
  flex: initial;
}

#navbar-brand {
  font-family: $font-header-stack;
  font-size: 2rem;
  font-weight: 700;
}

#navbar-menu-container {
  flex: auto;
  display: flex;
  justify-content: space-between;

  a:hover {
    text-decoration: underline;
  }
}

#spells-main {
  width: 90%;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

#form-main {
  h1 {
    text-align: center;
  }
}

#spell-form-container {
  width: 33%;
  margin: 0 auto;
}

#search-form-container,
#search-results-container {
  width: 66%;
  margin: 0 auto;
}

#search-form-container {
  margin-bottom: 1.5rem;
}

#search-results-container table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: 0.5rem 1rem;
  }

  th {
    font-weight: 700;
  }

  tbody tr:nth-child(2n) {
    background-color: rgba($palette-dark, 0.1);
  }

  a {
    width: 100%;
  }
}

#search-results-container p {
  margin: 0.34rem 0;
}