<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap" rel="stylesheet">
  <title>Spellbook</title>
</head>
<body>

  <nav id="navbar">
    <div id="navbar-brand-container">
      <a id="navbar-brand" href="/">My Spellbook</a>
    </div>
    <div id="navbar-menu-container">
      <ul id="navbar-left">
        <li><a href="/">Find Spell</a></li>
        <li><a href="/spells/new">Add Custom Spell</a></li>
      </ul>
      <ul id="navbar-right">
        <li><a href="/">Log In</a></li>
        <li><a href="/">Sign Up</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </nav>