<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spellbook</title>
</head>
<body>
  <div>
    <h1>Add Custom Spell</h1>
    <form action="/custom-spells" method="POST">
      <input type="text" placeholder="Spell name" name="name">
      <textarea id="spell-desc" cols="30" rows="10" placeholder="Spell description" name="desc"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div>
    <h2>My Spells</h2>
    <ul class="custom-spells">
      <% for(let i = 0; i < customSpells.length; i++) { %>
        <li>
          <span class="custom-spell"><%= customSpells[i].name %></span>: <span><%= customSpells[i].desc %></span>
        </li>
      <% } %>
    </ul>
  </div>

  <div>
    <h2>Update Spell</h2>
    <p>Replace first spell that isn't <em>magic missile</em> with <em>magic missile</em>.</p>
    <button id="update-button">Update</button>
  </div>

  <div>
    <h2>Delete Spell</h2>
    <p>Remove the first <em>magic missile</em> spell. Does nothing if there are no more <em>magic missile</em> spells.</p>
    <button id="delete-button">Delete</button>
  </div>

  <div id="message"></div>
  
  <script src="/main.js"></script>
</body>
</html>