<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Spellbook</title>
</head>
<body>
  <div>
    <h1>My Spells</h1>
    <ul class="custom-spells">
      <% for(let i = 0; i < customSpells.length; i++) { %>
        <li>
          <span class="custom-spell"><%= customSpells[i].name %> (<%=
              customSpells[i].level === 'cantrip' ?
                `${customSpells[i].school} cantrip` :
                `${customSpells[i].level}-level ${customSpells[i].school}`
            %>)</span>: <span><%= customSpells[i].desc %></span>
        </li>
      <% } %>
    </ul>
  </div>

  <div>
    <h2>Add Custom Spell</h2>
    <form action="/custom-spells" method="POST">

      <label for="spell-name">Name:</label>
      <input id="spell-name" type="text" name="name">

      <label for="spell-schools">School:</label>
      <select id="spell-schools" name="school">
        <option value="abjuration">Abjuration</option>
        <option value="conjuration">Conjuration</option>
        <option value="divination">Divination</option>
        <option value="enchantment">Enchantment</option>
        <option value="evocation">Evocation</option>
        <option value="illusion">Illusion</option>
        <option value="necromancy">Necromancy</option>
        <option value="transmutation">Transmutation</option>
      </select>

      <label for="spell-levels">Level:</label>
      <select id="spell-levels" name="level">
        <option value="cantrip">Cantrip</option>
        <option value="1st">1</option>
        <option value="2nd">2</option>
        <option value="3rd">3</option>
        <option value="4th">4</option>
        <option value="5th">5</option>
        <option value="6th">6</option>
        <option value="7th">7</option>
        <option value="8th">8</option>
        <option value="9th">9</option>
      </select>

      <label for="spell-casting-time">Casting Time:</label>
      <input id="spell-casting-time" type="text" name="casting-time">

      <label for="spell-range">Range:</label>
      <input id="spell-range" type="text" name="range">

      <span id="spell-components">Components:</span>
      <input id="verbal" type="checkbox" name="components[]" value="v"><label for="verbal">V</label>
      <input id="somatic" type="checkbox" name="components[]" value="s"><label for="somatic">S</label>
      <input id="material" type="checkbox" name="components[]" value="m"><label for="material">M</label>
      <input id="spell-material-component" type="text" placeholder="powdered rhubarb leaf and an adder's stomach" name="material-component">

      <label for="spell-duration">Duration:</label>
      <input id="concentration" type="checkbox" name="concentration"><label for="concentration">Concentration</label>
      <input id="spell-duration" type="text" name="duration">

      <label for="spell-desc">Description:</label>
      <textarea id="spell-desc" cols="30" rows="10" name="desc"></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>

  <div>
    <h2>Update Spell</h2>
    <p>Replace first spell that isn't <em>magic missile</em> with <em>magic missile</em>.</p>
    <button id="update-button">Update</button>
  </div>

  <div>
    <h2>Delete Spell</h2>
    <p>Remove the first <em>magic missile</em> spell. Does nothing if there are no more <em>magic missile</em> spells.</p>
    <button id="delete-button">Delete</button>
  </div>

  <div id="message"></div>
  
  <script src="/js/main.js"></script>
</body>
</html>