<%- include('./partials/header') %>

  <div class="user-card">
    <h1>Welcome!</h1>
    <p>Keep track of your spells in this 5e-compatible web app.</p>
    <p>Log in or create an account to continue.</p>
    <div class="user-card-buttons-container">
      <a class="button button-more" href="/users/login">Log In</a>
      <a class="button button-more" href="/users/Register">Register</a>
    </div>
  </div>

  <%- include('./partials/footer') %>