<%- include('./partials/header') %>

  <div class="user-card">
    <h1>Welcome!</h1>
    <%- include('./partials/messages') %>
    <p>Look up spells for the world's most popular role-playing game with this 5e-compatible web app.</p>
    <p>Searchable spells are limited to what can be found in the System Reference Document 5.1.</p>
  </div>

  <%- include('./partials/footer') %>