<%- include('./partials/header') %>

  <div class="user-card">
    <h1>Welcome!</h1>
    <p>Log in or create an account to continue.</p>
    <a class="button button-more" href="/users/login">Log In</a>
    <a class="button button-more" href="/users/Register">Register</a>
  </div>

  <%- include('./partials/footer') %>