<%- include('./partials/header') %>

  <div class="user-card">
    <h1>Welcome!</h1>
    <%- include('./partials/messages') %>
    <p>Look up spells for the world's most popular role-playing game with this 5e-compatible web app. Signing up for an account will allow you to add, edit, and delete spells in an online spellbook, as well as create your own custom spells.</p>
    <p>Searchable spells are limited to what can be found in the System Reference Document 5.1.</p>
    <p>Log in or create an account below.</p>
    <div class="user-card-buttons-container">
      <a class="button button-more" href="/users/login">Log In</a>
      <a class="button button-more" href="/users/Register">Register</a>
    </div>
  </div>

  <%- include('./partials/footer') %>