* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f1de;
  color: #272127;
  font-family: "Geneva", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant SC", serif;
}

h2 {
  margin: 0.34rem 0;
  padding-bottom: 0.34rem;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.error-message {
  color: #a14e2f;
  font-weight: 700;
  margin: 0.25rem 0;
  text-align: left;
}

.success-message {
  color: #3f612d;
  font-weight: 700;
  margin: 0.25rem 0;
  text-align: left;
}

.user-card {
  width: 33%;
  height: 66vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-card .user-card-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.user-card .user-card-buttons-container a {
  margin: 0.5rem 0;
}
.user-card p {
  margin: 0.5rem 0;
}
.user-card p a:hover {
  text-decoration: underline;
}
.user-card .form-group:last-child {
  margin: 1rem 0;
}

.spells-container {
  display: flex;
  flex-wrap: wrap;
}

.spell-card {
  flex-basis: calc(25% - 1rem);
  margin: 0.34rem 0.5rem;
  overflow: hidden;
}

.spell-card-name-container {
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #a14e2f;
  color: #f7f1de;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.spell-card-info-container {
  border-left: 0.125rem solid #272127;
  border-right: 0.125rem solid #272127;
  border-bottom: 0.125rem solid #272127;
  padding: 0.5rem;
}
.spell-card-info-container p {
  margin: 0.34rem 0;
}

.spell-card-actions-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0.5rem 0;
}

.button {
  display: inline-block;
  padding: 0.34rem 1rem;
  background-color: transparent;
  border-radius: 0.167rem;
  text-align: center;
  transition: all 200ms;
}
.button:hover {
  cursor: pointer;
  color: #f7f1de;
}

.button-confirm {
  border: none;
  border: 0.167rem solid #3f612d;
  background-color: #3f612d;
  color: #f7f1de;
}

.button-more {
  border: 0.167rem solid #284b63;
  color: #284b63;
}
.button-more:hover {
  background-color: #284b63;
}

.button-danger {
  border: 0.167rem solid #a14e2f;
  color: #a14e2f;
}
.button-danger:hover {
  cursor: pointer;
  background-color: #a14e2f;
}

.delete-form {
  display: inline-block;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.34rem;
}
.form-group input {
  flex: 1 1;
  padding: 0.125rem 0.06rem;
}
.form-group .form-group-label {
  margin-right: 0.17rem;
}
.form-group .button-confirm {
  flex: 1;
}

.checkbox-group {
  margin-right: 0.17rem;
}

.form-group-textarea {
  display: block;
  margin-bottom: 0.34rem;
}
.form-group-textarea textarea {
  width: 100%;
  padding: 0.25rem;
}

#navbar {
  background-color: #a14e2f;
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.25rem #272127;
}
#navbar ul {
  list-style: none;
  display: flex;
}
#navbar a {
  color: #f7f1de;
  margin: 0 1rem;
}

#navbar-brand-container {
  flex: initial;
}

#navbar-brand {
  font-family: "Cormorant SC", serif;
  font-size: 2rem;
  font-weight: 700;
}

#navbar-menu-container {
  flex: auto;
  display: flex;
  justify-content: space-between;
}
#navbar-menu-container a:hover {
  text-decoration: underline;
}

#spells-main {
  width: 90%;
  margin: 0 auto;
}
#spells-main h1 {
  text-align: center;
}

#form-main h1 {
  text-align: center;
}

#spell-form-container {
  width: 33%;
  margin: 0 auto;
}

#search-form-container {
  width: 66%;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
