<%- include('../partials/header') %>

  <div class="user-card">
    <h1>Register</h1>
    
    <form action="/users/register" method="POST">
      <div class="form-group">
        <label class="form-group-label" for="name">Name:</label>
        <input id="name" type="name" name="name" placeholder="Your username">
      </div>

      <div class="form-group">
        <label class="form-group-label" for="email">E-mail:</label>
        <input id="email" type="email" name="email" placeholder="Your e-mail address">
      </div>

      <div class="form-group">
        <label class="form-group-label" for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Create password">
      </div>

      <div class="form-group">
        <label class="form-group-label" for="password2">Confirm Password:</label>
        <input id="password2" type="password" name="password2" placeholder="Confirm password">
      </div>

      <div class="form-group">
        <button class="button button-confirm" id="submit-button" type="submit">Register</button>
      </div>
    </form>

    <p>Already have an account? <a href="/users/login">Log In</a></p>
  </div>

<%- include('../partials/footer') %>